*{
    
    box-sizing: border-box;
}
body{
   margin: 0;
    padding: 0;
   overflow: scroll;
}
/*Navbar - start*/
#navbar{
background-color: darkslategray;
position: fixed;
top: 0;
left: 0;
width: 100%;

}


 #nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}
  .heading, span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
}

.heading{
    font-family: 'Sofia', sans-serif;
    font-size: 35px;  
    color: beige;
   position: absolute;
   left: 20px;
   letter-spacing: 0.5rem;
   margin-bottom: 25px;
   margin-top: 5px;
}
li {
    list-style: none;
   margin: 20px;
   
  
}
 
.logo{
    color: rgb(216, 52, 162);
    font-size: 80px;
     margin-top: -50px;
}
.list1{
color: beige;
text-decoration: none;
font-family: 'Cousine', sans-serif;
font-size: 15px;
padding: 1rem 2rem;
border: 3px solid rgb(216, 52, 162);
}
.list1:hover{
    background-color: white;
    color: black;
}
/*Navbar - end*/

/*Her0-section*/
#welcome-section{
    font-family: 'Sofia', sans-serif;
    font-size: 22px;
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: rgb(177, 177, 177);
     background-image: linear-gradient(
         45deg,
       rgb(177, 177, 177) 0%,
    rgb(177, 177, 177) 100%,
     );
}
p{
    text-align: center;

}
.heading2{
    font-size: 5rem;
    letter-spacing: 0.5rem;
    border-bottom: 6px solid rgb(216, 52, 162);
    width: 38%;
    margin-bottom: 20px;
    margin-top: 80px;
   font-weight: 600;
}
/*Hero-section end*/

/*Project-section - start*/
.projects_section{
   
    font-family: 'Sofia', sans-serif;
    font-size: 22px;
    color: Beige;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: darkslategray;
     
}

.project-tile{
   margin-top: 10rem;
    font-size: 52px;
}
.projects_image{
    height: calc(100% - 4.8rem);
    width: 100%;
    object-fit: cover;
}
.Project-title{
    color: beige;
    background-color: rgb(216, 52, 162);
    margin: 0;
    
}
.project_img{
    text-decoration: none;
}
.project-grid{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
/*Projects-section end*/


/*Contact section start*/
.contact_section{
    background-color: rgb(177, 177, 177);
    font-family: 'Sofia', sans-serif;
    font-size: 22px;
    color: black;
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-header > h1{
    
    font-size: 62px;
    border-bottom: 6px solid rgb(216, 52, 162);
    
}
#profile-link{
    text-decoration: none;
    color: beige;
   margin: 20px;
}
footer{
   font-family: 'Sofia', sans-serif;
    font-size: 22px;
    color: Beige;
   width: 100%;
   height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: darkslategray;
 padding: 1rem 2rem;   
}
.footer{
    text-decoration: none;
    margin-top: 2rem;
    color: beige;
}
/*Contact section end*/
@media (max-width: 800px){
    h1{
        font-size: 2rem;
    }
}